<HTML>
	<HEAD>
		<TITLE>INDEKS</TITLE>
	</HEAD>
	<BODY>
	<H1>create barang</H1>

	<FORM method="post" action="/create">
		id: <INPUT type="id" name="id" />
		nama: <INPUT type="nama" name="nama" />
		<INPUT type="submit" value="submit" />
	</FORM>

	</BODY>
</HTML>
