<HTML>
	<HEAD>
		<TITLE>INDEKS</TITLE>
	</HEAD>
	<H1>WELCOME TO LARESTOCK<H1>
	<FORM method="post" action="/user">
		<INPUT type="text" name="username" />
		<INPUT type="password" name="password" />
		<INPUT type="submit" value="ENTER" />
	</FORM>
</HTML>
