<HTML>
	<HEAD>
		<TITLE>INDEKS</TITLE>
	</HEAD>
	<BODY>
	<H1>SIGN UP</H1>

	<FORM method="post" action="/signup">
		<INPUT type="text" name="id" placeholder="id" />
		<INPUT type="text" name="username" placeholder="username" />
		<INPUT type="password" name="password" placeholder="password" />
		<INPUT type="text" name="nama" placeholder="nama" />
		<INPUT type="text" name="email" placeholder="email" />
		<INPUT type="text" name="nohp" placeholder="nohp" />
		<INPUT type="submit" value="signup" />
	</FORM>

	</BODY>
</HTML>
